<div class="container px-5 py-6 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://desafiolatam.com/assets/images/home/logo-academia-ne.png" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Logo Desafio Latam"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">GitHub</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Desafio Latam.</p>
            <p class="leading-relaxed text-base">El curso de GitHub enseñó a crear y gestionar repositorios, controlar versiones y publicar con GitHub Pages, además del trabajo colaborativo con Git.</p>
            
        </div>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Introducción a la Programación Web</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Desafio Latam.</p>
            <p class="leading-relaxed text-base">El curso proporcionó una introducción a HTML y CSS, enseñando cómo estructurar y estilizar páginas web. Uso de Flexbox y Bootstrap. También se vio Git y GitHub. El control de versiones y la publicación de proyectos.</p>
            
        </div>
        
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Diplomado Full Stack Developer</h2>
            <p class="leading-relaxed text-base">
                🖥️ **Desarrollo Back-end**:  
                • Programación en Python.  
                • Uso del framework Django para aplicaciones web robustas y seguras.  
                <br />  <br />
                🎨 **Desarrollo Front-end**:  
                • Habilidades en HTML, CSS y JavaScript.  
                • Uso de frameworks como React.js y Angular para interfaces dinámicas y responsivas.  
                <br />  <br />
                🔗 **Integración y despliegue**:  
                • Conexión entre Back-end y Front-end.  
                • Testing, depuración y despliegue en entornos de producción.  
                <br />  <br />
                🤝 **Trabajo en equipo**:  
                • Gestión de proyectos con metodologías ágiles (Scrum).  
                • Enfoque desde la concepción hasta la entrega final del software.  
            </p>
        </div>
        <img src="https://skillsforall.com/sfa-assets/images/svg/netacad_logo_black.svg" class="w-48 h-20 sm:ml-20 mb-4 sm:mb-0" alt="Logo relacionado" />
    </div>
    

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Diplomado en Seguridad Informatica</h2>
            <p class="leading-relaxed text-base">🛡️ Diseñar planes de seguridad de la información.<br />
                • 🧩Reconocer los beneficios de un sistema de gestión de la seguridad de la información (SGSI).<br />
                • 🧠 Comprender el concepto de vulnerabilidad y su tipología.<br />
                • 🔍 Analizar las vulnerabilidades de los sistemas de información, aplicaciones web, redes.<br />
                • 🔐 Auditorías de seguridad: Realización de auditorías empresariales y wifi para garantizar la protección de los datos.<br />
                •🖥️ Reconocer los principales protocolos de seguridad más habituales para la protección en redes.</p><br />
            
        </div>
        <img src="https://skillsforall.com/sfa-assets/images/svg/netacad_logo_black.svg" class="w-48 h-20 sm:ml-20 mb-4 sm:mb-0" alt="Desafio Latam Logo"/>
    </div>

    
</div>
