<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
    <div class="text-pretty">
      <p>
        Soy Ingeniero de Sistemas, formado en la Fundación Universitaria Tecnológico de Comfenalco, donde adquirí una visión integral de las Tecnologías de la Información y las Comunicaciones (TIC), permitiéndome identificar y resolver problemas complejos de manera eficiente.
      </p>
      <br />
      <p>
        Me especializo en la implementación de soluciones innovadoras, con amplia experiencia en el desarrollo de aplicaciones utilizando <strong>Node.js</strong> y <strong>React.js</strong>. Además, cuento con sólidas competencias en programación y manejo de sistemas en ambientes de producción.
      </p>
      <br />
      <p>
        Mi enfoque se centra en la mejora continua, el servicio de excelencia y el ejercicio profesional ético, destacándome por mi proactividad y compromiso con la calidad.
      </p>
    </div>
    
  </section>
  